	<div class="span-10 colborder">
	  <h6>Rendering a Column 3D</h6>
	   <%= render_ezgraphix @col3d %>
	</div>

	<div class="span-10 last">
	  <h6>Rendering a Pie 3D</h6>
		<%= render_ezgraphix @pie3d %>
	</div>

	<div class="span-12">
	  <h2 class="alt">Code!</h2>
	</div>
	<hr>
	<hr class="space">

	<div class="span-24">
		<h3> Controller </h3>
		<hr>
		<script src="http://gist.github.com/49099.js"></script>
	</div>
	
	<div class="span-24">
		<h3> View </h3>
	<hr>
		<script src="http://gist.github.com/49121.js"></script>
	</div>